@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import url(normalize.css);
:root{

    --clr-dark-cian: hsl(158, 36%, 37%);
    --clr-dark-cian-hover: hsl(156, 42%, 18%);
    --clr-cream: hsl(30, 38%, 92%);

    --clr-dark-blue:hsl(212, 21%, 14%);
    --clr-dark-grayish-blue: hsl(228, 12%, 48%);

    --clr-white: hsl(0, 0%, 100%);

    --mobile-width: 375px;
    --desktop-width: 1440px;

    --fw-regular: 500;
    --fw-bold: 700;

}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--clr-dark-grayish-blue);
}

.h1{
    font-family: 'Fraunces', serif;
    font-size: 2em;
    font-weight: var(--fw-bold);
}
.main{
    padding-inline: 1.5rem;
    min-height: 100vh;
    margin-inline: auto;
    background-color: var(--clr-cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card{
    display: grid;
    grid-template:  "image detail" 450px /1fr 1fr;
    margin-inline: 1.5rem;
    max-width: 600px;
    background-color: var(--clr-white);
    padding: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.product-img{
    grid-area: image;
    overflow: hidden;
    position: relative;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-details{
    padding: 2rem;
    grid-area: detail;
}
.product-details > * + *{
margin-top: 1.85rem;
}

.product-type{
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: .75rem;
    color: var(--clr-light-gray);
}
.h1,
.product-name{
    line-height: 1.8rem;
    font-weight: var(--fw-bold);
    font-family: 'Fraunces','sans-serif';
    color: hsl(0, 0%, 5%);
    letter-spacing: .02rem;
}

.description{
    font-size: .8rem;
    line-height: 1.5rem;
    letter-spacing: .02rem;
}
.price{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
}

.price .actual{
    color: var(--clr-dark-cian);
}
.price .old{
    text-decoration: line-through;
}
.btn{
    width: 100%;
    padding: .8rem;
    color: var(--clr-white);
    background-color: var(--clr-dark-cian);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    letter-spacing: 0;
}
.btn ion-icon{
    font-size: 1.25rem;
    line-height: 1rem;
}
.btn:hover{
    background-color: var(--clr-dark-cian-hover);
    cursor: pointer;
    letter-spacing: .02rem;
}
.attribution { 
    margin-top: -3em;
    color: var(--clr-title-text);
    background-color: var(--clr-main-bg);
    padding-block: .5rem;
    width: 100%;
    font-size: .7rem; text-align: center; 
}
  .attribution a { 
    color: var(--clr-title-text); 
    font-weight: var(--fw-bold);
}
